<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./css/Orderstyle.css">


</head>
<body>
 <!-- header -->
 <header>
  <!-- mobile menu -->
  <div class="mobile-menu bg-second">
      <a href="#" class="mb-logo">ATShop</a>
      <span class="mb-menu-toggle" id="mb-menu-toggle">
          <i class='bx bx-menu'></i>
      </span>
  </div>
  <!-- end mobile menu -->
  <!-- main header -->
  <div class="header-wrapper" id="header-wrapper">
      <span class="mb-menu-toggle mb-menu-close" id="mb-menu-close">
          <i class='bx bx-x'></i>
      </span>
      <!-- top header -->
      <div class="bg-second">
          <div class="top-header container">
              <ul class="devided">
                  <li>
                      <a href="#">+923157912645</a>
                  </li>
                  <li>
                      <a href="#">haseebtahir5469@gmail.com</a>
                  </li>
              </ul>
              <ul class="devided">
                  <li class="dropdown">
                      <a href="">USD</a>
                      <i class='bx bxs-chevron-down'></i>
                      <ul class="dropdown-content">
                          <li><a href="#">VND</a></li>
                          <li><a href="#">JPY</a></li>
                          <li><a href="#">EUR</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="">ENGLISH</a>
                      <i class='bx bxs-chevron-down'></i>
                      <ul class="dropdown-content">
                          <li><a href="#">VIETNAMESE</a></li>
                          <li><a href="#">JAPANESE</a></li>
                          <li><a href="#">FRENCH</a></li>
                          <li><a href="#">SPANISH</a></li>
                      </ul>
                  </li>
                  <li><a href="#">ORDER TRACKING</a></li>
              </ul>
          </div>
      </div>
      <!-- end top header -->
      <!-- mid header -->
      <div class="bg-main">
          <div class="mid-header container">
              <a href="#" class="logo">ATShop</a>
              <div class="search">
                  <input type="text" placeholder="Search">
                  <i class='bx bx-search-alt'></i>
              </div>
              <ul class="user-menu">
                  <li><a href="#"><i class='bx bx-bell'></i></a></li>
                  <li><a href="D:\Web Project\Web-Project-SE-6B\Project\view\login_signup.html"><i class='bx bx-user-circle'></i></a></li>
                  <li><a href="#"><i class='bx bx-cart'></i></a></li>
              </ul>
          </div>
      </div>
      <!-- end mid header -->
      <!-- bottom header -->
      <div class="bg-second">
          <div class="bottom-header container">
              <ul class="main-menu">
                  <li><a href="#">home</a></li>
                  <!-- mega menu -->
                  <li class="mega-dropdown">
                      <a href="./products.html">Shop<i class='bx bxs-chevron-down'></i></a>
                      <div class="mega-content">
                          <div class="row">
                              <div class="col-3 col-md-12">
                                  <div class="box">
                                      <h3>SmartPhone</h3>
                                      <ul>
                                          <li><a href="#">Samsung</a></li>
                                          <li><a href="#">Vivo</a></li>
                                          <li><a href="#">Oppo</a></li>
                                          <li><a href="#">Apple</a></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="col-3 col-md-12">
                                  <div class="box">
                                      <h3>HeadPhone & AirBuds</h3>
                                      <ul>
                                          <li><a href="#">JBL</a></li>
                                          <li><a href="#">Sony</a></li>
                                          <li><a href="#">Beats</a></li>
                                          <li><a href="#">B&W</a></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="col-3 col-md-12">
                                  <div class="box">
                                      <h3>Smart watches</h3>
                                      <ul>
                                          <li><a href="#">Apple</a></li>
                                          <li><a href="#">boAt </a></li>
                                          <li><a href="#">Mi Smartwatch</a></li>
                                          <li><a href="#">Oppo</a></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="col-3 col-md-12">
                                  <div class="box">
                                      <h3>Tabs</h3>
                                      <ul>
                                          <li><a href="#">Acer </a></li>
                                          <li><a href="#">Apple</a></li>
                                          <li><a href="#">Lenovo</a></li>
                                          <li><a href="#">Huawei</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="row img-row">
                              <div class="col-3">
                                  <div class="box">
                                      <img src="./images/kisspng-beats-electronics-headphones-apple-beats-studio-red-headphones.png" alt="">
                                  </div>
                              </div>
                              <div class="col-3">
                                  <div class="box">
                                      <img src="./images/JBL_TUNE220TWS_ProductImage_Pink_ChargingCaseOpen.png" alt="">
                                  </div>
                              </div>
                              <div class="col-3">
                                  <div class="box">
                                      <img src="./images/JBL_JR 310BT_Product Image_Hero_Skyblue.png" alt="">
                                  </div>
                              </div>
                              <div class="col-3">
                                  <div class="box">
                                      <img src="./images/JBLHorizon_001_dvHAMaster.png" alt="">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <!-- end mega menu -->
                  <li><a href="#">blog</a></li>
                  <li><a href="D:\Web Project\Web-Project-SE-6B\Project\view\contactUs.html">contact</a></li>
              </ul>
          </div>
      </div>
      <!-- end bottom header -->
  </div>
  <!-- end main header -->
</header>

<div class="row">
  <div class="col-75">
    <div class="container1">
      <form action="/action_page.php">
      
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="New York">

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="NY">
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" name="zip" placeholder="10001">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="September">
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="2018">
              </div>
              <div class="col-50">
                <label for="cvv">Qty:</label>
                
                
                <input type="text" id="sequenceValue" style="position: relative;text-align: center;border-radius: 8px;"></input>
            
            </div>
            </div>
          </div>
          
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <input type="submit" value="Continue to checkout" class="btn">
      </form>
    </div>
  </div>
  
</div>

<script src="./js/app.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>
